<%= page_title("Nova sessão para #{ @movie_theater.name }") %>
<%= form_with(model: [@movie_theater, @session]) do |f| %>
  <div class="mb-6">
    <%= f.label :date, class: 'form-label' %>
    <%= f.text_field :date, class: 'form-field' %>
  </div>
  <div class="mb-6">
    <%= f.label :time, class: 'form-label' %>
    <%= f.text_field :time, class: 'form-field' %>
  </div>
  <%= f.submit 'Criar Sessão', class: 'btn-confirm' %>
<% end %>